page-inicio {

    .fondo-menu{
        background: gray;
    }

    .fondo-menu button{
        background: gray;
        color: white;
    }

    .fondo-menu button ion-icon{
        color: black;
    }
}
